In [9]:
import numpy as np
import pandas as pd
import random

In [2]:
music_stats = pd.read_csv("/Users/ada/Desktop/archive/data_moods.csv")
music_stats = music_stats[['name','artist','mood','popularity']]
music_stats.head()

,name,artist,mood,popularity
0,1999,Prince,Happy,68
1,23,Blonde Redhead,Sad,43
2,9 Crimes,Damien Rice,Sad,60
3,99 Luftballons,Nena,Happy,2
4,A Boy Brushed Red Living In Black And White,Underoath,Energetic,60

In [3]:
music_stats["mood"].value_counts()

Sad          197
Calm         195
Energetic    154
Happy        140
Name: mood, dtype: int64

In [4]:
stats = music_stats[music_stats["mood"] == "Energetic"]
stats = stats.sort_values(by="popularity", ascending=False)
stats.head()

                    name                    artist       mood  popularity
91            Chop Suey!          System Of A Down  Energetic          79
289  Killing In The Name  Rage Against The Machine  Energetic          78
129      Dani California     Red Hot Chili Peppers  Energetic          77
154              Duality                  Slipknot  Energetic          76
600             Uprising                      Muse  Energetic          75

In [16]:
stats = music_stats[music_stats["mood"] == "Sad"]
stats = stats.sort_values(by="popularity", ascending=False)
s = np.random.choice(stats["name"])
s

'Wish You Were Here - 2011 Remastered Version'

In [17]:
def recommend(prediction):
    if(prediction == "Happy" or prediction == "Sad"):
        song = music_stats[music_stats["mood"] == "Happy"]
        song = np.random.choice(song["name"])
        return(song)
    
    if(prediction == "Fear" or prediction == "Angry"):
        song = music_stats[music_stats["mood"] == "Calm"]
        song = np.random.choice(song["name"])
        return(song)
    if(prediction == "Disgust"):
        song = music_stats[music_stats["mood"] == "Sad"]
        song = np.random.choice(song["name"])
        return(song)

    if(prediction == "Surprise" or prediction == "Neutral"):
        song = music_stats[music_stats["mood"] == "Energetic"]
        song = np.random.choice(song["name"])
        return(song)